*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*navbar designing*/

.logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 68px;
    width: 150px;
    margin-left: 90px;
    margin-bottom: 12px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    width: 99vw;
    background-color: white;
    box-shadow:1px 3px 1px rgba(122, 121, 121, 0.692) ;
    position: fixed;
    top: 0px;
    
}
.navlinks{
    margin-left: 55px;
}
.navlinks ul{
    display: flex;
}
.navlinks ul li{
    list-style-type: none;
}
.navlinks ul li a{
    text-decoration: none;
    color:#212529b6;
    margin-right: 35px;
    font-size: 14px;
    transition: all 0.5s;
    letter-spacing: 0px;
}
.navlinks ul li a:hover{
    color: black;
}
.icons{
    margin-right: 90px;
}
.icons a{
    text-decoration: none;
    margin-right: 25px;
    color: #212529;
}
.slide{
    height: 100vh;
    width: 99vw;
    background-image: url(background1.jpg);
    background-size: cover;
    margin-top: 71px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
    
}
.img1{
    height: 98%;
    width: 100%;
    background-image: url(exter.jpg);
    background-size: cover;
    margin:0px 30px;    
}
.img2{
    height: 98%;
    width: 100%;
    background-image: url(alcazar.jpg);
    background-size: cover;
    margin:0px 30px;    
}
.img3{
    height: 98%;
    width: 100%;
    background-image: url(verna.jpg);
    background-size: cover;
    margin:0px 30px;    
}
.img4{
    height: 98%;
    width: 100%;
    background-image: url(ioniq5.jpg);
    background-size: cover;
    margin:0px 30px;    
}
.img5{
    height: 98%;
    width: 100%;
    background-image: url(aura.jpg);
    background-size: cover;
    margin:0px 30px;    
}
.models{
    display: flex;
    flex-direction: column;
}
.models h1{
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}
.model-nav{
    display: flex;
    justify-content: center;
    margin-top: 70px;

}
.model-nav a{
    text-decoration: none;
    color: black;
    margin:20px 20px;
    transition: 0s;
    
}
.model-nav a:hover{
    border-bottom: 3px solid rgb(73, 184, 228);
}
.model{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
}
.model img{
    height: 350px;
    width: 800px;
    position: relative;
    margin-left:100px;
}
/*hero section starts*/
/*body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 71px;
}
.slider{
    width: 1000px;
    height: 700px;
    overflow:hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
display: none;
}
.slide{
    width: 20%;
    transition: 1s;
}
.slide img{
    width: 800px;
    height: 500px;
    margin-top: 80px;
}
manual
.navigation-manual{
    position: absolute;
    top: 110%;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manual-btn{
    border: 2px solid rgb(255, 251, 251);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-left: 250px;
}
.manual-btn:not(:first-child){
    margin-left: 30px;
}

.manual-btn:hover{
    background-color: white;
}
#radio-btn1:checked~.first{
    margin-left: 0;
}
#radio-btn2:checked~.first{
    margin-left: -20%;
}
#radio-btn3:checked~.first{
    margin-left: -40%;
}
#radio-btn4:checked~.first{
    margin-left: -60%;
}
#radio-btn5:checked~.first{
    margin-left: -80%;
}
*/


